.credits-section {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .paragraph {
    margin: 3rem 0 0;
  }

  .link {
    color: $white;
    margin-left: 0.5rem;
  }

  &--only-contact {
    .section {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .paragraph {
      margin: 0;
    }
  }
}
