@import "../../styles/mixins";
@import "../../styles/variables";

.participant-card {
  &-container {
    display: flex;
    flex-wrap: wrap;
  }

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 100%;
  padding: 1.5em;
  background-color: $secondary-color-light;
  margin: 0 0.25em 0.5em;
  border-radius: 0.4rem;

  @media screen and (min-width: $laptop) and (max-width: $desktop - 1) {
    flex-basis: 40%;

    &:nth-child(2n-1) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media($desktop) {
    flex-basis: 30%;

    &:nth-child(3n-2) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__label {
    color: $grey;
    font-size: 0.8em;
  }

  &__title {
  }

  &__accname,
  &__notes {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
  }
}
