@import "../../styles/variables";
@import "../../styles/zIndex";

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: $z-index-main-menu;

  .section__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__hamburger-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  &__nav {
    padding: 1rem 0 0 4rem;
    transition: all 0.2s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
    height: 100vh;
    z-index: $z-index-main-menu;

    &:after {
      content: " ";
      z-index: -1;
      background-color: $primary-color;
      position: absolute;
      right: -100vw;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__items-wrapper {
    padding-right: 3rem;
  }

  &__item {
    color: $white;
    font-size: $text-lg;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
    display: block;

    &--last {
      margin-top: 2em;
    }
  }

  &__backdrop {
    z-index: $z-index-main-menu-backdrop;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0;
    transition: ease-in-out all 0.2s;
  }

  &--open {
    pointer-events: auto;
    // transform: translateX(0);

    .main-menu {
      &__nav {
        transform: translateX(0);
        opacity: 1;
      }

      &__backdrop {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}
