@import "../../styles/variables";

$primary-color: $primary-color;
$secondary-color: $secondary-color;
$tertiary-color: $tertiary-color;
$danger-color: $state-error;
$border-width: 0.1875rem;

.buttons-container {
  margin: 5rem 0;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;

  &--centered {
    justify-content: center;
  }

  .button {
    font-size: 1rem;
    line-height: 1.5em;
    padding: 0.5em 2em;
    outline: none;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;
    text-decoration: none;
    border-radius: 10em;
    border: solid $border-width;
    transition: all #{$brendan/10}s ease-in-out;

    &__title {
      display: flex;
    }

    &:hover:not([disabled]) {
      box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.6rem;
      transform: translateY(-1px);
    }

    &--small {
      font-size: $text-sm;
    }

    &--medium {
      font-size: $text-md;
    }

    &--large {
      font-size: $text-lg;
    }

    &--primary {
      color: $white;
      background-color: $primary-color;
      border-color: $primary-color;

      &:hover {
        background-color: lighten($primary-color, 2.5%);
      }
    }

    &--secondary {
      color: $primary-color;
      background-color: $white;
      border-color: currentColor;
    }

    &--danger {
      color: $white;
      background-color: $danger-color;

      &:hover {
        background-color: darken($danger-color, 5%);
      }
    }

    &--with-icon {
      .button__icon {
        display: flex;
        align-items: center;
      }

      &-left {
        padding-left: 1.5em;

        .button__icon {
          padding-right: 1em;
          order: -1;
        }
      }

      &-right {
        padding-right: 1.5em;

        .button__icon {
          padding-left: 1em;
          order: 999;
        }
      }
    }

    &--full-width {
      width: 100%;

      .button__title {
        text-align: center;
        justify-content: center;
      }
    }

    &[disabled] {
      $background-color: lighten($grey, 45%);
      cursor: default;
      color: $grey;
      background-color: $background-color;
      border-color: $background-color;
    }

    &--link {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      border: none;

      &:hover {
        background-color: transparent;
      }

      &.button--primary {
        color: $primary-color;
        &:hover {
          color: darken($primary-color, 20%);
        }
      }

      &.button--secondary {
        color: $primary-color;
        &:hover {
          color: darken($primary-color, 20%);
        }
      }

      &.button--danger {
        color: $danger-color;
        &:hover {
          color: darken($danger-color, 20%);
        }
      }
    }
  }
}
