@import "../../styles/variables";
@import "../../styles/zIndex";

$checkbox-height: 1.5rem;
$checkbox-width: $checkbox-height * 1.75;

.input-checkbox {
  & + * {
    margin-top: 1.5rem;
  }

  &__input + &__label &__box {
    border-color: $grey;
    background-color: $grey;
  }

  &__input:checked + &__label &__box {
    border-color: $state-success;
    background-color: $state-success;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $dark;
  }

  &__label-title {
    color: $dark;
  }

  &__box {
    display: inline-block;
    width: $checkbox-width;
    height: $checkbox-height;
    border: 2px solid currentColor;
    font-size: 1em;
    margin: 0 1rem 0 0;
    padding: 0;
    position: relative;
    border-radius: $checkbox-height;
    flex-shrink: 0;
  }

  &__handle {
    width: $checkbox-height;
    height: $checkbox-height;
    border-radius: $checkbox-height / 2;
    background-color: $white;
    display: inline-block;
    position: absolute;
    transition: all 0.1s ease-in-out;
    z-index: $z-index-input-checkbox-handle;
  }

  &__input + &__label &__handle {
    right: $checkbox-width - $checkbox-height;
  }

  &__input:checked + &__label &__handle {
    right: 0;
  }
}
