@import "../../styles/variables";
@import "../../styles/zIndex";

$size: 40rem;

.profile-picture-wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.profile-picture {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;

  &__badge {
    width: 33%;
    height: 33%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }

  &__overlay,
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    cursor: pointer;
    z-index: $z-index-profile-picture-overlay;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__camera {
    fill: white;
    color: $grey;
    height: 50%;
    width: 50%;
    object-fit: contain;
  }

  &__image {
    width: 100%;
    height: 100%;
    z-index: $z-index-profile-picture;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__background {
    display: flex;
    align-items: center;
    background-color: $light;
  }

  &__person {
    fill: $grey;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 30%;
  }

  &:hover {
    .profile-picture {
      &__overlay {
        display: flex;
      }
    }
  }
}
