@import "../../styles/variables";
@import "../../styles/mixins";

.grid {
  position: relative;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  width: 100%;

  @for $i from 1 through 4 {
    &--columns-mobile-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @include media($tablet) {
    @for $i from 1 through 12 {
      &--columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  &--no-margin {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  &--no-row-gap {
    grid-row-gap: 0;
  }

  &--no-column-gap {
    grid-column-gap: 0;
  }
}
