@import "../../styles/mixins";
@import "../../styles/variables";

.hero {
  background-color: $vivid-violet;
  padding-top: 6.4rem;

  &__content {
    @include backgroundImageWithOpacity("/images/header_background.png") {
      background-position: 66%;
    }
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;

    @include media($tablet) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__button {
    margin: 2rem 0;
  }

  &__image {
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__countdown {
  }

  .title {
    font-weight: 300;
    margin: 0;
    color: white;
    text-transform: uppercase;

    small {
      display: block;
      font-family: "museo-sans", serif;
      font-weight: 100;
      text-transform: initial;
    }
  }
}
