@import "../../styles/colors";
@import "../../styles/variables";

.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 3rem;

  & + * {
    padding-left: 1rem;

    &:before {
      content: ":";
      color: $pattens-blue;
      position: absolute;
      top: 0;
      left: 0.2rem;
      bottom: 0;
      font-size: $text-2xl;
      opacity: 0.5;
    }
  }

  &__label {
    font-size: $text-sm;
    color: $pattens-blue;
    margin-top: 0.5rem;
  }

  &__value {
    font-size: $text-2xl;
    color: $pattens-blue;
  }
}
