.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [header-start] auto [header-end content-start] 1fr [content-end footer-start] auto [footer-end];
    grid-template-areas: "header" "content" "footer";
  }

  &__main {
    position: relative;
  }
}
