body {
  font-family: $font-body;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-heading;
    line-height: 1.5em;
  }
}

*::-ms-clear {
  display: none;
}

blockquote {
  font-style: italic;
  color: $grey;
}
