// COLORS
@import "colors";

// SCREEN SIZES
$mobile: 544px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// NAVIGATION
// ANIMATION
$overlay-opacity: 0.8;
$animation-duration: 0.2s;

// FONTS
$font-body: "jaf-bernino-sans", sans-serif;
$font-heading: "ff-cocon-web-pro", sans-serif;
$font-signature: "felt-tip-roman", sans-serif;

// OPACITY
$hover-opacity-off: 0.8;
$hover-opacity-on: 1;
