// COLORS
@import "colors";

// SCREEN SIZES
$mobile: 544px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// NAVIGATION
// ANIMATION
$overlay-opacity: 0.8;
$animation-duration: 0.2s;

// FONTS
$font-body: "museo", sans-serif;
$font-heading: "ff-cocon-web-pro", sans-serif;
$font-signature: "felt-tip-roman", sans-serif;

// TYPOGRAPHY
$text-sm: 0.75em;
$text-md: 1em;
$text-lg: 1.333em;
$text-xl: 1.777em;
$text-2xl: 2.369em;
$text-3xl: 3.157em;
$text-3xl: 4.209em;
$text-4xl: 5.612em;

// OPACITY
$hover-opacity-off: 0.8;
$hover-opacity-on: 1;
