@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/zIndex";

.page-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 1em 0 0;
  background-size: 50%;

  &--signup {
    @include backgroundImageWithOpacity("/images/sign_t.png", 0.25);
  }

  &--gifts {
    @include backgroundImageWithOpacity("/images/pack.png", 0.25);
  }

  @include media($tablet) {
    padding: 5rem 0 0;
  }

  &__text {
    z-index: $z-index-page-header-text;
    width: 100%;

    @include media($tablet) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &--no-children {
    .page-header__text {
      width: 100%;
    }

    .title {
      margin-bottom: 0;
    }
  }

  &--centered {
    .page-header__text {
      text-align: center;
    }
  }
}
