@import "../../styles/variables";

.paragraph {
  line-height: 1.45;
  margin-bottom: 1.25em;

  &--center {
    text-align: center;
  }

  &--small {
    font-size: $text-sm;
  }

  &--medium {
    font-size: $text-md;
  }

  &--no-margin {
    margin: 0;
  }

  &--black {
    color: $black;
  }

  &--dark {
    color: $dark;
  }

  &--dark-grey {
    color: $dark-grey;
  }

  &--grey {
    color: $grey;
  }

  &--light {
    color: $light;
  }

  &--white {
    color: $white;
  }
}
