@import "../../styles/variables";

.title {
  padding-top: 2em;
  margin: 0;

  &--page {
    margin-top: 0;
    font-size: 4em;
  }

  &--primary {
    font-size: 2em;
  }

  &--secondary {
  }

  &--tertiary {
    font-weight: light;
    color: $dark-grey;
  }

  &--black {
    color: $black;
  }

  &--dark {
    color: $dark;
  }

  &--dark-grey {
    color: $dark-grey;
  }

  &--grey {
    color: $grey;
  }

  &--light {
    color: $light;
  }

  &--white {
    color: $white;
  }
}
