@import "../../styles/colors";
@import "../../styles/variables";

.about-section {
  background-color: $pattens-blue;

  &__lead {
    font-size: $text-lg;
    font-weight: 700;
  }

  &__content {
    .title {
      padding-top: 0;
    }

    .title,
    .paragraph,
    .signature {
      color: $meteorite;
    }
  }

  .section {
    padding: 2rem 0;
  }
}
