@import "../../styles/mixins";
@import "../../styles/variables";

.header-section {
  background: url("/images/header_3.png") top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 10rem;
  padding: 2em 1em;

  @include media($mobile) {
    padding: 4em 2em;
  }

  &__content {
    &__container {
      width: 100%;

      @include media($tablet) {
        width: 75%;
      }

      @include media($laptop) {
        width: 60%;
      }

      @include media($desktop) {
        width: 50%;
      }

      .button-container {
        margin-bottom: 0;
      }
    }

    background: rgba($secondary-color-light, 0.75);
    padding: 2em 3em;
    border-radius: 0.4rem;

    .title {
      margin-top: 0;
    }

    .paragraph:last-of-kind {
      margin-bottom: 0;
    }
  }

  &__buttons {
    margin-top: 2.5rem;

    .button-container {
      margin: 0;
    }
  }
}
