@import "../../styles/colors";
@import "../../styles/variables";

.how-section {
  background-color: $pattens-blue;

  .title {
    color: $meteorite;
  }

  .section {
    padding: 6rem 0;
  }
}
