@import "../../styles/mixins";
@import "../../styles/variables";

.gifts-page {
  background-position-x: 75%;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 50%;
  min-height: 100vh;
  margin: 0 2rem;

  .match-section {
    width: 100%;

    @include media($tablet) {
      width: 50%;
    }
  }
}
