@import "../../styles/variables";

.card {
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em 0 rgba($dark, 0.25);

  &__button-container {
    margin: 0 0.5em;
    display: flex;
  }

  &__button {
    flex-grow: 1;
    border: none;
    outline: none;
    line-height: 2.5em;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: $state-success;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: darken($state-success, 2.5%);
    }
  }
}
