@import "../../styles/variables";

.card {
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em 0 rgba($dark, 0.25);

  &__button-container {
    margin: 0 0.5em;
    display: flex;
  }

  &__button {
    font-size: $text-md;
    flex-grow: 1;
    border: none;
    outline: none;
    line-height: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: $meteorite;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: lighten($meteorite, 2.5%);
    }
  }
}
