.event-card-container {
  display: block;
  text-decoration: none;

  &:hover {
    .event-card {
      &__title {
        text-decoration: underline $dark;
      }
    }
  }
}

.event-card {
  background-color: $white;

  &__title.title {
    margin: 0;
  }

  &__stats {
    color: $black;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .paragraph {
      font-size: $text-lg;
      margin: 0 1rem 0 0;
    }

    .description-list {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
