@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/zIndex";

$active-color: $primary-color;
$inactive-color: $grey;

.gift-status {
  margin: 0;

  & + * {
    margin-top: 1em;
  }

  &__card {
    position: relative;
    z-index: $z-index-gift-status-card;
    background-color: rgba($white, 0.5);
    padding-bottom: 0;
  }

  &--outgoing {
  }

  &--incoming {
    .gift-status {
      &__dots,
      &__illustrations {
        flex-direction: row-reverse;
      }

      &__illustration {
        &--packing {
          transform: scaleX(-1);
        }
        &--sent,
        &--received {
          transform: scaleX(1);
        }
      }
    }
  }

  &--complete {
    .gift-status {
      &__card {
        background-color: $state-success-light;
      }
      &__dot,
      &__timeline__line {
        background-color: $state-success-dark;
      }
      &__dot--active .gift-status__dot__label {
        color: $state-success-dark;
      }
    }
  }

  &--packing {
  }

  &--sent {
  }

  &--receivced {
  }

  &__title {
    margin-bottom: 1rem;

    &__pre {
      margin-right: 1rem;
      font-weight: lighter;
    }

    .title {
      margin: 0;
    }
  }

  &__notes {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;

    .title {
      margin: 0 1rem 0 0;
      font-weight: lighter;
    }

    .paragraph {
      margin: 0.5rem 0 0;
    }
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    padding: 0 15% 2.5em 15%;

    &__line {
      flex-grow: 1;
      height: 0.25em;
      background-color: $inactive-color;

      &--active {
        background-color: $active-color;
      }
    }
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dot {
    width: 0.75em;
    height: 0.75em;
    border-radius: 0.5em;
    background-color: $inactive-color;
    position: relative;

    &__label-wrapper {
      position: absolute;
      left: 50%;
    }

    &__label {
      position: relative;
      left: -50%;
      top: 1.5em;
      color: $inactive-color;
    }

    &--packing {
    }

    &--sent {
    }

    &--received {
    }

    &--active {
      width: 1em;
      height: 1em;
      background-color: $active-color;

      .gift-status__dot__label {
        color: $active-color;
      }
    }

    &--complete {
      width: 0.75em;
      height: 0.75em;
    }
  }

  &__illustrations {
    display: flex;
    flex-direction: row;
  }

  &__illustration {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3333%;
    flex-shrink: 0;
    flex-grow: 0;

    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &--inactive {
      opacity: 0.25;
    }

    &--packing {
    }

    &--sent {
      transform: scaleX(-1);

      > img {
        height: 80%;
        width: 80%;
      }
    }

    &--received {
      transform: scaleX(-1);

      > img {
        height: 80%;
        width: 80%;
      }
    }
  }
}
