@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/zIndex";

$iconSize: 3.6rem;

.header {
  z-index: $z-index-header;
  padding: 0.5em 0;
  margin-bottom: -4rem;

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100%;

    .title {
      margin: 0;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__hamburger-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__profile-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $iconSize;
    width: $iconSize;

    &--logged-out {
      color: $white;
      font-size: $iconSize * 1.2;
      background-color: rgba($white, 0.2);
      @include hoverOpacity;

      span {
        margin-top: 0.2em;
      }
    }

    &--logged-in {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
