@import "../../styles/variables";

.footer {
  background-color: $primary-color;

  &__upper {
    padding: 3rem 0;
  }

  &__lower {
    padding: 1rem 0;

    .paragraph {
      margin: 0;
    }

    .link {
      color: $white;
      margin-left: 0.5rem;
    }
  }
}
