@import "../../styles/variables";
@import "../../styles/mixins";

.tooltip {
  color: $secondary-color-light;
  display: none;
  flex-wrap: nowrap;
  position: relative;
  padding: 1rem 0rem 0rem 1rem;
  margin-bottom: 4rem;

  @include media($tablet) {
    position: absolute;
    width: 50%;
    right: 0;
    padding: 0.6rem 0rem 0rem 2rem;
    margin-bottom: 0;

    &:first-of-type {
      padding-top: 1.6em;
    }
  }

  &--active {
    display: flex;
  }

  &:after {
    top: 1em !important;
    left: 1em !important;
    bottom: 1em !important;
    right: 1em !important;
  }

  &__left {
    display: none;
    order: 0;
    width: 3rem;

    &-arrow {
      width: 3rem;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      > * {
        width: 3rem;
        background-color: currentColor;
      }

      &__mid {
        width: 6rem;
        height: 6rem;
        margin-top: 1.2rem;
        margin-left: 1.2rem;
        transform: rotate(45deg);
      }
    }
  }

  &__center {
    order: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tooltip {
      &__content {
        order: 1;
        width: 100%;
        height: 100%;
        color: $dark-grey;
        padding: 2em;
        background-color: $secondary-color-light;
        border-radius: 0.4rem;

        .title {
          margin-top: 0;
        }
      }

      &__bottom-arrow {
        display: none;
        order: 2;
        height: 3rem;
        position: absolute;
        bottom: 0;
        margin-bottom: -3rem;
        margin-left: 1rem;
        overflow: hidden;
        justify-content: center;
        align-self: flex-start;

        > * {
          height: 3rem;
          background-color: currentColor;
        }

        &__mid {
          width: 6rem;
          height: 6rem;
          margin-top: -4.5rem;
          transform: rotate(45deg);
        }
      }
    }
  }

  .tooltip__center .tooltip__bottom-arrow {
    display: flex;
  }

  .tooltip__left {
    display: none;
  }

  @include media($tablet) {
    .tooltip__center .tooltip__bottom-arrow {
      display: none;
    }

    .tooltip__left {
      display: flex;
    }
  }
}
