@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/variables";

.description-list-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & + * {
    margin-top: 0.5em;
  }

  &--dark {
    color: $dark;
  }

  &--light {
    color: $pattens-blue;
  }

  &__term,
  &__description {
    font-size: $text-lg;
    flex-grow: 1;
    width: auto;
  }

  &__term {
    margin-right: 1rem;
  }

  &__description {
    margin-inline-start: 0;
    text-align: right;
  }
}
