$z-index-main-menu: 999;
$z-index-header: 998;
$z-index-main-menu-backdrop: 997;
$z-index-profile-picture-overlay: 996;
$z-index-navigation-container: 3;
$z-index-alert: 1;
$z-index-profile-picture: 1;
$z-index-input-checkbox-handle: 1;
$z-index-page-header-text: 1;
$z-index-gift-status-card: 1;
$z-index-background-with-opacity: -1;
